.containerExtra {
  width: 10rem;
  height: 10rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-top: -3.5rem;
}

.bg-violeta {
  background-color: #be0dfb;
}

.luzExtraSize {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.brilloExtra {
  -webkit-box-shadow: 2px 11px 39px 3px rgba(250, 210, 10, 1);
  -moz-box-shadow: 2px 11px 39px 3px rgba(250, 210, 10, 1);
  box-shadow: 2px 11px 39px 3px rgba(250, 210, 10, 1);
}
