.containerExtra {
  width: 10rem;
  height: 10rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-top: -3.5rem;
}

.bg-violeta {
  background-color: #b93af9;
}

.luzExtraSize {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }